<h1 class="main">All adoptions</h1>
<br>
<table>
  <tr>
    <th>Adoption id</th>
    <th>Owner Full Name</th>
    <th>Animal Name</th>
    <th></th>
  </tr>

  <% for adoption in @adoptions %>
  <tr>
    <td><%= adoption.id %></td>
    <td><%= adoption.owner.full_name %></td>
    <td><%= adoption.animal.name %></td>
    <td><a href="/adoptions/<%= adoption.id %>">Show Adoption</a></td>
  </tr>
  <% end %>

</table>
