<h1 class="main">Add a new adoption:</h1>
<br>
<div class="main">
<form action="/adoptions" method="post">
  <label>
    Select an animal:
      <select class="drop-down" id="animal" name="animal_id">
        <% for animal in @animals %>
        <% if animal.adoption_status == "Available" %>
        <option value="<%= animal.id %>"><%= animal.name %></option>
        <% end %>
        <% end %>
      </select>
  </label>

  <label>
    Select an owner:
      <select class="drop-down" id="owner" name="owner_id">
        <% for owner in @owners %>
        <option value="<%= owner.id %>"><%= owner.full_name %></option>
        <% end %>
      </select>
  </label>
  <label for="adoption_date"><Adoption Date:</label>
  <input id="adoption_date" type="date" name="adoption_date"/>
  <input class="submit-button admit-button" type="submit" value="Add adoption">
</form>



</div>
