<div class="grid-adoption">
<p><strong>Owner Name:</strong></p>
<p><%= @adoption.owner.full_name %></p>
<p><strong>Animal Name:</strong></p>
<p><%= @adoption.animal.name %></p>
</div>
<br>

<div class="button-grid-adoption">
<form action="/adoptions/<%= @adoption.id %>/edit" method="get">
  <input type="submit" value="Edit Adoption">
</form>

<form action="/adoptions/<%= @adoption.id %>/delete" method="post">
  <input type="submit" value="Delete Adoption">
</form>

<form action="/adoptions" method="get">
  <input type="submit" value="Back to all Adoptions">
</form>
</div>
