<p><strong>Owner Name:</strong><%= @adoption.owner.full_name %></p>
<p><strong>Animal Name:</strong><%= @adoption.animal.name %></p>

<form action="/adoptions/<%= @adoption.id %>/edit" method="get">
  <input type="submit" value="Edit Adoption">
</form>

<form action="/adoptions/<%= @adoption.id %>/delete" method="post">
  <input type="submit" value="Delete Adoption">
</form>
