<h1 class="main">Welcome to the Animal Management System</h1>

<h2 class="main">What would you like to do?</h2>

<ul class="main">
  <li><a href="/animals">See all animals</a></li>
  <li><a href="/animals/new">Admit a new animal</a></li>
  <li><a href="/owners/new">Add a new owner</a></li>
  <li><a href="/adoptions/new">Add a new adoption</a></li>
</ul>
