<h1>Welcome to the Animal Management System</h1>

<h2>What would you like to do:</h2>

<ul>
  <li><a href="/animals">See all animals</a></li>
  <li><a href="/animals/new">Admit a new animal</a></li>
  <li><a href="#">Add a new owner</a></li>
  <li><a href="#">Add a new adoption</a></li>
</ul>
