<h1 class="main">Welcome to the Animal Management System</h1>

<h2 class="main">What would you like to do?</h2>

<div class="main-container">

<div class="box">
  <button class="main-button"type="button"><a href="/animals">See all animals</a></button>
</div>
<div class="box">
  <button class="main-button"type="button"><a href="/owners">See all owners</a></button>
</div>
<div class="box">
  <button class="main-button"type="button"><a href="/adoptions">See all adoptions</a></button>
</div>
<div class="box">
  <button class="main-button"type="button"><a href="/animals/new">Admit a new animal</a></button>
</div>
<div class="box">
  <button class="main-button"type="button"><a href="/owners/new">Add a new owner</a></button>
</div>
<div class="box">
  <button class="main-button"type="button"><a href="/adoptions/new">Add a new adoption</a></button>
</div>

</div>
