.form {
  display: grid;
  margin-left: 415px;
  width: 60vw;
  height: 50vh;
  grid-template-columns: 10vw 30vw;
  grid-template-rows: auto;
  grid-gap: 15px 5px;
}

.admit-button {
  grid-column: 2 / span 1;
}

.drop-down {
  font-size: 15px;
}

.adoption-button {
  font-size: 15px;
}

.grid {
  display: grid;
  margin-left: 415px;
  width: 60vw;
  height: 50vh;
  grid-template-columns: auto 20vw 20vw;
  grid-template-rows:auto;
  grid-gap: 15px 5px;
}

/* .animal-picture {
  grid-column: 1;
  grid-row: 1 / span 8;
} */


.button-grid {
  display: grid;
  margin-left: 415px;
  width: 60vw;
  height: 50vh;
  grid-template-columns: 10vw 10vw 10vw;
  grid-template-rows:auto;
  grid-gap: 15px 5px;
}

.grid-owner {
  display: grid;
  margin-left: 525px;
  width: 60vw;
  height: 40vh;
  grid-template-columns: 10vw 10vw;
  grid-template-rows:10vh;
  grid-gap: 15px 5px;
}

.grid-adoption {
  display: grid;
  margin-left: 525px;
  width: 60vw;
  height: 20vh;
  grid-template-columns: 10vw 10vw;
  grid-template-rows:10vh;
  grid-gap: 15px 5px;
}

.button-grid-adoption {
  display: grid;
  margin-left: 525px;
  width: 60vw;
  height: 50vh;
  grid-template-columns: 10vw 10vw 10vw;
  grid-template-rows:auto;
  grid-gap: 15px 5px;

}
