.form {
  display: inline-grid;
  margin-top: 50px;
  margin-left: 355px;
  width: 60vw;
  height: 50vh;
  grid-template-columns: 10vw 30vw;
  grid-template-rows: auto;
  grid-gap: 15px 5px;
  font-size: 15px;
}

.form-owner {
  display: inline-grid;
  margin-top: 50px;
  margin-left: 355px;
  width: 60vw;
  height: 10vh;
  grid-template-columns: 10vw 30vw;
  grid-template-rows: auto;
  grid-gap: 15px 5px;
  font-size: 15px;
}

.drop-down {
  font-size: 15px;
}

.grid {
  display: grid;
  margin-left: auto;
  width: 75vw;
  height: 50vh;
  grid-template-columns: auto 20vw 20vw;
  grid-template-rows:auto;
  grid-gap: 15px 5px;
}

.grid-owner {
  display: grid;
  margin-left: 525px;
  width: 60vw;
  height: 40vh;
  grid-template-columns: 10vw 10vw;
  grid-template-rows:10vh;
  grid-gap: 15px 5px;
}
