.form {
  display: grid;
  margin-top: 50px;
  margin-left: 415px;
  width: 60vw;
  height: 50vh;
  grid-template-columns: 10vw 30vw;
  grid-template-rows: auto;
  grid-gap: 15px 5px;
  font-size: 15px;
}

.admit-button {
  grid-column: 2 / span 1;
}

.drop-down {
  font-size: 15px;
}

.submit-button {
  font-size: 15px;
  background-color: #c0c0c0;
  colour: #000000;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #4D5D66;
}

.grid {
  display: grid;
  margin-left: 475px;
  width: 60vw;
  height: 50vh;
  grid-template-columns: auto 20vw 20vw;
  grid-template-rows:auto;
  grid-gap: 15px 5px;
}

.button-grid {
  display: grid;
  margin-left: 475px;
  width: 60vw;
  height: 5vh;
  grid-template-columns: 10vw 10vw 10vw;
  grid-template-rows:auto;
  grid-gap: 15px 5px;
}

.grid-owner {
  display: grid;
  margin-left: 525px;
  width: 60vw;
  height: 40vh;
  grid-template-columns: 10vw 10vw;
  grid-template-rows:10vh;
  grid-gap: 15px 5px;
}

.grid-adoption {
  display: grid;
  margin-left: 525px;
  width: 60vw;
  height: 20vh;
  grid-template-columns: 10vw 10vw;
  grid-template-rows:10vh;
  grid-gap: 15px 5px;
}

.button-grid-adoption {
  display: grid;
  margin-left: 525px;
  width: 60vw;
  height: 50vh;
  grid-template-columns: 10vw 10vw 10vw;
  grid-template-rows:auto;
  grid-gap: 15px 5px;
}
