<form action="/owners/<%= @owner.id %>" method="post">
    <label for="full_name">Full Name:</label>
    <input id="full_name" type="text" name="full_name" value="<%= @owner.full_name %>"/>

    <label for="address">Address:</label>
    <input id="address" type="text" name="address" value="<%= @owner.address%>"/>

    <input type="submit" value="Edit owner">
</form>
