<h1 class="main">Edit an owner:</h1>
<br>

<form class="form" action="/owners/<%= @owner.id %>" method="post">
    <label for="full_name"><strong>Full Name:</strong></label>
    <input id="full_name" type="text" name="full_name" value="<%= @owner.full_name %>"/>

    <label for="address"><strong>Address:</strong></label>
    <input id="address" type="text" name="address" value="<%= @owner.address%>"/>

    <input class="admit-button submit-button" type="submit" value="Edit owner">
</form>
