<h1>Add a new owner:</h1>

<div class="container">
  <form action="/owners" method="post">
    <label for="first_name">First Name:</label>
    <input id="first_name" type="text" name="first_name"/>

    <label for="last_name">Last Name:</label>
    <input id="last_name" type="text" name="last_name"/>

    <label for="address">Address:</label>
    <input id="address" type="text" name="address"/>

    <input type="submit" value="Add owner">

  </form>
</div>
